<section class="section-md bg-white">
    <div class="shell shell-wide">
        <div class="range">

            <div class="col-md-8">
                <div class="grid-element">
                    <div class="tabs-custom tabs-horizontal tabs-line tabs-centered" id="tabs-1">
                        <!-- Nav tabs-->
                        <ul class="nav nav-tabs">
                            <li class="@(ViewBag.ActiveTab == null || ViewBag.ActiveTab == 1 ? "active" : "")"><a href="#tabs-1-1" data-toggle="tab">Profile</a></li>
                            <li class="@(ViewBag.ActiveTab == 2 ? "active" : "")"><a href="#tabs-1-2" data-toggle="tab">Pets</a></li>
                            <li class="@(ViewBag.ActiveTab == 3 ? "active" : "")"><a href="#tabs-1-3" data-toggle="tab">Questions</a></li>
                            <li class="@(ViewBag.ActiveTab == 4 ? "active" : "")"><a href="#tabs-1-4" data-toggle="tab">Messages</a></li>
                            <li class="@(ViewBag.ActiveTab == 5 ? "active" : "")"><a href="#tabs-1-5" data-toggle="tab">Reviews</a></li>
                        </ul>
                        <!-- Tab panes-->
                        <div class="tab-content">
                            <div class="tab-pane fade  @(ViewBag.ActiveTab == null || ViewBag.ActiveTab == 1 ? "in active show" : "")" id="tabs-1-1">
                                <form asp-controller="Account" asp-action="UpdateAccount" class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" novalidate="novalidate">
                                    <div class="range range-sm-bottom spacing-20">
                                        <div class="cell-sm-3">
                                            <div class="form-group">
                                                <input class="form-control form-control-has-validation input-value" id="contact-first-name" type="text" name="name" data-constraints="@@Required"><span class="form-validation"></span>
                                                <label class="form-label rd-input-label" for="contact-first-name">First name</label>
                                            </div>
                                        </div>
                                        <div class="cell-sm-3">
                                            <div class="form-group">
                                                <input class="form-control form-control-has-validation input-value" id="contact-last-name" type="text" name="lastname" data-constraints="@@Required"><span class="form-validation"></span>
                                                <label class="form-label rd-input-label" for="contact-last-name">Last name</label>
                                            </div>
                                        </div>
                                        <div class="cell-sm-6">
                                            <div class="form-group">
                                                <input class="form-control form-control-has-validation input-value" id="contact-phone" type="text" name="phone"><span class="form-validation"></span>
                                                <label class="form-label rd-input-label" for="contact-phone">Phone</label>
                                            </div>
                                        </div>
                                        <div class="cell-sm-6">
                                            <div class="form-group">
                                                <input class="form-control form-control-has-validation" id="contact-email" type="email" name="email" data-constraints="@@Email @@Required"><span class="form-validation"></span>
                                                <label class="form-label rd-input-label" for="contact-email">E-mail</label>
                                            </div>
                                        </div>
                                        <div class="cell-sm-6">
                                            <div class="form-group">
                                                <div class="input-file-container">  
                                                    <input class="input-file change-picture-input-file btn btn-tan-hide" id="my-file" type="file">
                                                    <label tabindex="0" for="my-file" class="input-file-trigger">Select image</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cell-xs-12">
                                            <button class="btn btn-tan-hide pull-right btn-effect-ujarak" type="submit">Save</button>
                                        </div>

                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade  @(ViewBag.ActiveTab == 2 ? "in active show" : "")" id="tabs-1-2">
                                <div class="range spacing-30">
                                    <div class="cell-sm-4">
                                        <div class="thumbnail-boxed thumbnail-boxed-vertical">
                                            <div class="thumbnail-boxed-left">
                                                <img class="thumbnail-boxed-image" src="~/img/adopt-cats-5-370x240.jpg" alt="" width="370" height="240">
                                            </div>
                                            <div class="thumbnail-boxed-body">
                                                <p class="thumbnail-boxed-title"><a href="single-page-pets.html">Lavender</a></p>
                                                <div class="thumbnail-boxed-text">
                                                    <p>This beautiful cat had health issues her family couldn’t take care of, so she came to us...</p>
                                                </div>
                                                <div class="thumbnail-boxed-footer">
                                                    <ul class="thumbnail-boxed-meta">
                                                        <li><span class="icon icon-xs icon-tan-hide material-icons-event_available"></span><span>2.1 years old</span></li>
                                                        <li><span class="icon icon-xs icon-tan-hide material-icons-done"></span><span>7 pounds</span></li>
                                                        <li><span class="icon icon-xs icon-tan-hide material-icons-place"></span><span>New York</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cell-sm-4">
                                        <div class="thumbnail-boxed thumbnail-boxed-vertical thumbnail-boxed-blue-marguerite">
                                            <div class="thumbnail-boxed-left">
                                                <img class="thumbnail-boxed-image" src="~/img/adopt-cats-2-370x240.jpg" alt="" width="370" height="240">
                                            </div>
                                            <div class="thumbnail-boxed-body">
                                                <p class="thumbnail-boxed-title"><a href="single-page-pets.html">Lavender</a></p>
                                                <div class="thumbnail-boxed-text">
                                                    <p>This beautiful cat had health issues her family couldn’t take care of, so she came to us...</p>
                                                </div>
                                                <div class="thumbnail-boxed-footer">
                                                    <ul class="thumbnail-boxed-meta">
                                                        <li><span class="icon icon-xs icon-tan-hide material-icons-event_available"></span><span>2.1 years old</span></li>
                                                        <li><span class="icon icon-xs icon-tan-hide material-icons-done"></span><span>7 pounds</span></li>
                                                        <li><span class="icon icon-xs icon-tan-hide material-icons-place"></span><span>New York</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cell-sm-4">
                                        <div class="thumbnail-boxed thumbnail-boxed-vertical thumbnail-boxed-tan-hide">
                                            <div class="thumbnail-boxed-left">
                                                <img class="thumbnail-boxed-image" src="~/img/adopt-cats-3-370x240.jpg" alt="" width="370" height="240">
                                            </div>
                                            <div class="thumbnail-boxed-body">
                                                <p class="thumbnail-boxed-title"><a href="single-page-pets.html">Lavender</a></p>
                                                <div class="thumbnail-boxed-text">
                                                    <p>This beautiful cat had health issues her family couldn’t take care of, so she came to us...</p>
                                                </div>
                                                <div class="thumbnail-boxed-footer">
                                                    <ul class="thumbnail-boxed-meta">
                                                        <li><span class="icon icon-xs icon-tan-hide material-icons-event_available"></span><span>2.1 years old</span></li>
                                                        <li><span class="icon icon-xs icon-tan-hide material-icons-done"></span><span>7 pounds</span></li>
                                                        <li><span class="icon icon-xs icon-tan-hide material-icons-place"></span><span>New York</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cell-sm-4">
                                        <div class="thumbnail-boxed thumbnail-boxed-vertical">
                                            <div class="thumbnail-boxed-left">
                                                <img class="thumbnail-boxed-image" src="~/img/adopt-cats-4-370x240.jpg" alt="" width="370" height="240">
                                            </div>
                                            <div class="thumbnail-boxed-body">
                                                <p class="thumbnail-boxed-title"><a href="single-page-pets.html">Lavender</a></p>
                                                <div class="thumbnail-boxed-text">
                                                    <p>This beautiful cat had health issues her family couldn’t take care of, so she came to us...</p>
                                                </div>
                                                <div class="thumbnail-boxed-footer">
                                                    <ul class="thumbnail-boxed-meta">
                                                        <li><span class="icon icon-xs icon-tan-hide material-icons-event_available"></span><span>2.1 years old</span></li>
                                                        <li><span class="icon icon-xs icon-tan-hide material-icons-done"></span><span>7 pounds</span></li>
                                                        <li><span class="icon icon-xs icon-tan-hide material-icons-place"></span><span>New York</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cell-sm-4">
                                        <div class="col-decoration-skew-inner">
                                            <h2>Add</h2>
                                            <h5>more pets</h5>
                                            <a class="btn btn-trout-inverse btn-effect-anis btn-offset-medium" href="@Url.Action("AddPet", "Account")">
                                                <span class="icon icon-sm icon-tan-hide material-icons-add"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade @(ViewBag.ActiveTab == 3 ? "in active show" : "")" id="tabs-1-3">
                                <div class="tab-questions text-center">
                                    <a href="#" style="width: 100%; margin-top: 10px">
                                        <blockquote class="quote-classic">
                                            <div class="quote-classic-body">
                                                <div class="quote-classic-header">
                                                    <cite>Question question question question</cite>
                                                    <p class="caption">answered by Levis Jordan</p>
                                                </div>
                                                <p class="quote-classic-text">
                                                    <q>Delta is one of the most energetic and cheerful dogs I ever had! Thank you, Animal Shelter, for making my life more positive and happier!</q>
                                                </p>
                                                <div class="quote-classic-meta">
                                                    <ul class="post-meta">
                                                        <li>
                                                            <span class="icon icon-sm icon-tan-hide material-icons-access_time"></span>
                                                            <time datetime="2016-01-01">19 Квітня 2016</time>
                                                        </li>
                                                        <li><span class="icon icon-sm icon icon-tan-hide fa fa-thumbs-up"></span><span>23</span></li>
                                                        <li><span class="icon icon-sm icon-tan-hide fa fa-comment-o"></span><span>6</span></li>
                                                    </ul>
                                                    <ul class="post-meta pull-right">
                                                        <li><span class="big text-blue-marguerite pull-right">Cats</span></li>
                                                        <li><span class="big text-blue-marguerite pull-right">Health</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </blockquote>
                                    </a>
                                    <a href="#" style="width: 100%; margin-top: 10px">
                                        <blockquote class="quote-classic">
                                            <div class="quote-classic-body">
                                                <div class="quote-classic-header">
                                                    <cite>Question question question question</cite>
                                                    <p class="caption">no answer yet</p>
                                                </div>
                                                <div class="quote-classic-meta">
                                                    <ul class="post-meta">
                                                        <li>
                                                            <span class="icon icon-sm icon-tan-hide material-icons-access_time"></span>
                                                            <time datetime="2016-01-01">19 Квітня 2016</time>
                                                        </li>
                                                        <li><span class="icon icon-sm icon-tan-hide fa fa-thumbs-up"></span><span>23</span></li>
                                                        <li><span class="icon icon-sm icon-tan-hide fa fa-comment-o"></span><span>6</span></li>
                                                    </ul>
                                                    <ul class="post-meta pull-right">
                                                        <li><span class="big text-blue-marguerite pull-right">Cats</span></li>
                                                        <li><span class="big text-blue-marguerite pull-right">Health</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </blockquote>
                                    </a>
                                </div>
                            </div>
                            <div class="tab-pane fade @(ViewBag.ActiveTab == 4 ? "in active show" : "")" id="tabs-1-4">
                                <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers. Our site design and navigation has been thoroughly thought out. The layout is aesthetically appealing, contains concise texts in order not to take your precious time. Text styling allows scanning the pages quickly.</p>
                                <p>Site navigation is extremely intuitive and user-friendly. You will always know where you are now and will be able to skip from one page to another with a single mouse click. We use only trusted, verified content, so you can believe every word we are saying. We are always happy to greet the new visitors on our site.</p>
                            </div>
                            <div class="tab-pane fade @(ViewBag.ActiveTab == 5 ? "in active show" : "")" id="tabs-1-5">
                                <div class="comment-group">
                                    <!-- Comment-->
                                    <article class="comment">
                                        <div class="comment-avatar">
                                            <img src="~/img/theresa-lane-80x80.jpg" alt="" width="80" height="80">
                                        </div>
                                        <div class="comment-body">
                                            <div class="comment-header">
                                                <p class="comment-title">Theresa Lane</p><span class="comment-time">2 days ago</span>
                                            </div>
                                            <div class="comment-text">
                                                <p>Thank you for your article, I think it can be very useful to volunteers of Animal Shelter.</p>
                                            </div>
                                            <div class="comment-footer">
                                                <div class="starcommentrating d-flex justify-content-end flex-row-reverse">
                                                    <input type="radio" id="star20" name="rating4" value="5" disabled checked /><label for="star15" title="5 star"></label>
                                                    <input type="radio" id="star19" name="rating4" value="4" disabled /><label for="star14" title="4 star"></label>
                                                    <input type="radio" id="star18" name="rating4" value="3" disabled /><label for="star13" title="3 star"></label>
                                                    <input type="radio" id="star17" name="rating4" value="2" disabled /><label for="star12" title="2 star"></label>
                                                    <input type="radio" id="star16" name="rating4" value="1" disabled /><label for="star11" title="1 star"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="comment-group">
                                    <!-- Comment-->
                                    <article class="comment">
                                        <div class="comment-avatar">
                                            <img src="~/img/theresa-lane-80x80.jpg" alt="" width="80" height="80">
                                        </div>
                                        <div class="comment-body">
                                            <div class="comment-header">
                                                <p class="comment-title">Theresa Lane</p><span class="comment-time">2 days ago</span>
                                            </div>
                                            <div class="comment-text">
                                                <p>Thank you for your article, I think it can be very useful to volunteers of Animal Shelter.</p>
                                            </div>
                                            <div class="comment-footer">
                                                <div class="starcommentrating d-flex justify-content-end flex-row-reverse">
                                                    <input type="radio" id="star15" name="rating3" value="5" disabled checked /><label for="star15" title="5 star"></label>
                                                    <input type="radio" id="star14" name="rating3" value="4" disabled /><label for="star14" title="4 star"></label>
                                                    <input type="radio" id="star13" name="rating3" value="3" disabled /><label for="star13" title="3 star"></label>
                                                    <input type="radio" id="star12" name="rating3" value="2" disabled /><label for="star12" title="2 star"></label>
                                                    <input type="radio" id="star11" name="rating3" value="1" disabled /><label for="star11" title="1 star"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="comment-group">
                                    <!-- Comment-->
                                    <article class="comment">
                                        <div class="comment-avatar">
                                            <img src="~/img/ronald-austin-80x80.jpg" alt="" width="80" height="80">
                                        </div>
                                        <div class="comment-body">
                                            <div class="comment-header">
                                                <p class="comment-title">Ronald Austin</p><span class="comment-time">2 days ago</span>
                                            </div>
                                            <div class="comment-text">
                                                <p>Thank you!</p>
                                            </div>
                                            <div class="comment-footer">
                                                <div class="starcommentrating d-flex justify-content-end flex-row-reverse">
                                                    <input type="radio" id="star10" name="rating2" value="5" disabled /><label for="star10" title="5 star"></label>
                                                    <input type="radio" id="star9" name="rating2" value="4" disabled /><label for="star9" title="4 star"></label>
                                                    <input type="radio" id="star8" name="rating2" value="3" disabled /><label for="star8" title="3 star"></label>
                                                    <input type="radio" id="star7" name="rating2" value="2" disabled checked /><label for="star7" title="2 star"></label>
                                                    <input type="radio" id="star6" name="rating2" value="1" disabled /><label for="star6" title="1 star"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <form class="rd-mailform form-wide" data-form-output="form-output-global" data-form-type="contact" method="post" action="@Url.Action("AddComment", "Home")" novalidate="novalidate">
                                    <div class="range range-sm-bottom spacing-30">
                                        <div class="cell-xs-12">
                                            <h5 class="box-item-title">Залиште свій відгук</h5>
                                        </div>
                                        <div class="cell-sm-6">
                                            <div class="starrating d-flex justify-content-end flex-row-reverse">
                                                <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
                                                <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
                                                <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
                                                <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
                                                <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
                                            </div>
                                        </div>
                                        <div class="cell-xs-12">
                                            <div class="form-group">
                                                <textarea class="form-control form-control-has-validation" id="comment-message" name="message" data-constraints="@@Required"></textarea><span class="form-validation"></span>
                                                <label class="form-label rd-input-label" for="comment-message">Message</label>
                                            </div>
                                        </div>
                                        <div class="cell-sm-12">
                                            <button class="btn btn-primary btn-effect-ujarak btn-block" type="submit">Submit</button>
                                        </div>

                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="grid-element bg-gray-light">
                    @*<img class="img-responsive" src="~/img/gift-online-1-370x272.jpg" />
                        <div class="thumbnail-boxed-body">
                            <p class="thumbnail-boxed-title">
                                <a href="single-page-pets.html">Lavender</a>
                            </p>
                            <div class="thumbnail-boxed-text">
                                <p>This beautiful cat had health issues her family couldn’t take care of, so she came to us...</p>
                            </div>
                            <div class="thumbnail-boxed-footer">
                                <ul class="thumbnail-boxed-meta">
                                    <li><span class="icon icon-xs icon-tan-hide material-icons-event_available"></span><span>2.1 years old</span></li>
                                    <li><span class="icon icon-xs icon-tan-hide material-icons-done"></span><span>7 pounds</span></li>
                                    <li><span class="icon icon-xs icon-tan-hide material-icons-place"></span><span>New York</span></li>
                                </ul>
                            </div>
                        </div>*@

                    <blockquote class="quote-circle">
                        <div class="unit unit-xs-horizontal">
                            <div class="unit-left">
                                <div class="quote-circle-image">
                                    <img class="file-input-replace" src="~/img/home1-6-280x320.jpg" alt="" width="280" height="320" style="min-height: 101%; min-width: 101%">
                                </div>
                            </div>
                            <div class="unit-body">
                                <div class="quote-circle-body">
                                    <div class="quote-circle-header">
                                        <cite class="name">Karen</cite>
                                        <cite class="lastname">Karen</cite>
                                    </div>
                                    <p class="quote-circle-text">
                                        <q>When I saw her picture on the site, I knew she had found her home.  She is a non-shedding bundle of cuteness  affectionately known as ‘Lex”.</q>
                                    </p>
                                    <div class="quote-circle-meta">
                                        <ul class="quote-circle-meta-list">
                                            <li class="object-inline"><span class="icon icon-sm icon-primary-filled icon-circle mdi mdi-thumb-up-outline"></span><span class="phone">+38 (063) 9661289</span></li>
                                            <li><span>February 16, 2016</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </blockquote>
                    <div class="cell-xs-6 height-fill bg-blue-marguerite" style="margin-top: 20px">
                        <div class="counter-box-bold">
                            <div class="counter  animated" data-from="0" data-to="2.5" data-formatter="false">ASK</div>
                            <p class="counter-box-header">a vet</p>
                            <a asp-controller="Account" asp-action="AddQuestion" class="btn btn-silver-outline btn-circle">Click here to ask a vet</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section SnackBars
    {
    <div class="snackbars" id="form-output-global">
        <p>
            <span class="icon text-middle mdi mdi-check icon-xxs"></span>
            <span>Successfully sent!</span>
        </p>
    </div>
}
