@using AnimalConsultant.DAL.Models.Identity
@using AnimalConsultant.Services.Models
@using DemOffice.GenericCrud.DataAccess
@using DemOffice.GenericCrud.Services
@model IEnumerable<AnimalConsultant.Services.Models.Question>
@inject IReadOnlyGenericService<AnimalType, AnimalType, object> animalService
@inject IReadOnlyGenericService<Category, Category, object> categoryService
@{
    var animals = (await animalService.ReadList(new GetManyOptions<object>())).Data;
    var categories = (await categoryService.ReadList(new GetManyOptions<object>())).Data;
}
<section class="section-lg bg-white">
    <div class="shell shell-wide">
        <div class="range">
            <div class="cell-md-8">
                <div class="complex-text complex-text-mod">
                    <p class="h1 complex-text-main text-porcelain">FIND</p>
                    <div class="complex-text-aside">
                        <p class="h2 text-porcelain">ANSWERS</p>
                        <p class="h4 header-lighter text-tan-hide">TO ALL QUESTIONS</p>
                    </div>
                </div>
                <!-- Bootstrap tabs-->
                <div class="tab-questions text-center">
                    @foreach (var question in Model)
                    {
                        <a asp-controller="Forum" asp-action="Question" asp-route-id="@question.Id">
                            <blockquote class="quote-classic">
                                <div class="quote-classic-left">
                                    <img class="quote-classic-image" src="~/img/home/home1-11-237x268.jpg" alt="" width="280" height="320">
                                </div>
                                <div class="quote-classic-body">
                                    <div class="quote-classic-header">
                                        <cite>@question.Content</cite>
                                        @{
                                            var answer = question.Comments.Where(x => x.User.Role == nameof(Roles.Vet)).OrderBy(x => x.Rating).LastOrDefault();
                                        }
                                        <p class="caption"> @(answer == null ? "no answer" : $"answered by { answer.User.FirstName } {answer.User.LastName}")</p>
                                    </div>
                                    <p class="quote-classic-text">
                                        <q>@(answer == null ? string.Empty : answer.Content)</q>
                                    </p>
                                    <div class="quote-classic-meta">
                                        <ul class="post-meta">
                                            <li>
                                                <span class="icon icon-xs icon-tan-hide material-icons-access_time"></span>
                                                <time datetime="2016-01-01">@question.CreateDate.ToString("dd MMMM yyyy")</time>
                                            </li>
                                            <li><span class="icon icon-xs icon-tan-hide fa fa-thumbs-up"></span><span>@question.Reactions.Count(x => x.Liked)</span></li>
                                            <li><span class="icon icon-xs icon-tan-hide fa fa-comment-o"></span><span>@question.Comments.Count</span></li>
                                        </ul>
                                        <ul class="post-meta">
                                            <li>
                                                <span class="big text-blue-marguerite">@question.AnimalType.Description</span>
                                            </li>
                                            <li>
                                                <span class="big text-blue-marguerite">@question.Category.Description</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </blockquote>
                        </a>
                    }
                    <a class="btn btn-circle btn-silver-outline btn-shadow block-centered">SHOW MORE</a>
                </div>
            </div>
            <div class="col-md-4">
                <form class="rd-search form-sm search-form-classic" action="@Url.Action("Index", "Forum")" method="GET">
                    <div class="form-group">
                        <input class="form-control form-control-square" id="rd-search-form-input" type="text" name="s" autocomplete="off">
                        <label class="form-label rd-input-label" for="rd-search-form-input">Search...</label>
                        <button class="rd-search-submit" type="submit"></button>
                    </div>
                    <div class="panel-group panel-group-custom panel-group-corporate" id="accordion1" role="tablist" aria-multiselectable="true">
                        <h2>Filters</h2>
                        <!-- Bootstrap panel-->
                        <div class="panel panel-custom panel-corporate">
                            <div class="panel-heading" id="accordion1Heading1" role="tab">
                                <div class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion1" aria-controls="accordion1Collapse1" aria-expanded="false" class="collapsed">
                                        Types of animal
                                        <div class="panel-arrow"></div>
                                    </a>

                                </div>
                            </div>
                            <div class="panel-collapse collapse" id="accordion1Collapse1" role="tabpanel" aria-labelledby="accordion1Heading1" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    @foreach (var animal in animals)
                                    {
                                        <div class="btn btn-sm btn-silver-outline" style="margin-top: 2px">@animal.Description</div>
                                    }
                                    
                                </div>
                            </div>
                        </div>
                        <!-- Bootstrap panel-->
                        <div class="panel panel-custom panel-corporate">
                            <div class="panel-heading" id="accordion1Heading2" role="tab">
                                <div class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" aria-controls="accordion1Collapse2" aria-expanded="false">
                                        Categories
                                        <div class="panel-arrow"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="panel-collapse collapse" id="accordion1Collapse2" role="tabpanel" aria-labelledby="accordion1Heading2" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    @foreach (var category in categories)
                                    {
                                        <div class="btn btn-sm btn-primary" style="margin-top: 2px">@category.Description</div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="@Url.Action("Index", "Forum")" class="btn btn-sm btn-xl btn-icon btn-icon-right btn-silver-outline " style="width: 100%"> <span class="icon icon-md material-icons-close"></span>Clear all</a>

                    <div class="cell-xs-6 height-fill bg-blue-marguerite" style="margin-top: 20px">
                        <div class="counter-box-bold">
                            <div class="counter  animated" data-from="0" data-to="2.5" data-formatter="false">ASK</div>
                            <p class="counter-box-header">a vet</p>
                            <a asp-controller="Account" asp-action="AddQuestion" class="btn btn-silver-outline btn-circle">Click here to ask a vet</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>